
#inputTag {
  margin: 5px;
	outline: none;
	border-color: #9ecaed;
	font-family: Tahoma;
	font-size: 18px;
	height: 23px;
	padding: 2px;
}

#inputTag:focus {
	margin: 5px;
	font-family: Tahoma;
	font-size: 18px;
	height: 23px;
	padding: 2px;
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #6aa9c8;
}

#outer {
	resize: vertical;
	padding: 3px;
	height: auto;
	outline: 1px inset #808080;
}

.spanTag {
	width: auto;
	height: 25px;
	cursor: pointer;
	float: left;
	font-size: 15px;
	font-family: georgia;
	margin: 5px;
	padding: 8px;
	background: #161d6d;
	color: #ffffff;
	border-radius: 8px 8px 8px 8px;
	text-align: center;
}

.spanTag:hover {
	text-decoration: underline;
}

.spanImg {
	width: 12px;
	height: 12px;
	margin-left: 5px;
	margin-top: 7px;
	vertical-align: middle;
}

#inner {
	min-width: 1px;
	width: auto;
	height: auto;
	display: inline;
	padding: 1px;
}

.alertClass {
	margin: 5px;
	padding: 3px;
	font-family: "Times New Roman";
	font-size: 18px;
	border: 2px solid black;
	width: auto;
	height: auto;
	color: red;
	border-radius: 3px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	display: none;
}

#doneEdit {
	cursor: pointer;
	font-size: 15px;
	font-family: georgia;
	padding: 5px;
	background: #008000;
	color: #ffffff;
	border-radius: 8px 8px 8px 8px;
	text-align: center;
}

#doneEdit:hover{
	text-decoration: underline;
}
